/* Removed invalid import statement */


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@keyframes slide-in-left {
  0% {
    transform: translateX(-100px);
    opacity: 0;
    background-color: #fff8f6;
  }
  50% {
    background-color: #fef3c7;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
    background-color: #F8EEDF;
  }
}

.animate-slide-in-left {
  animation: slide-in-left 1s ease-out forwards;
}


@tailwind base;
@tailwind components;
@tailwind utilities;